@{
    ViewData["Title"] = "Home Page";
}

<header>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</header>
<div style="background-color:#fff; margin-top: 25%;height: 225px; display: flex; align-items: center;">
<h1 style="color:#5d3d85;margin-left: 30rem;">Realiza tus reservas</h1>
<button type="button" onclick="location.href='@Url.Action("", "Reservas")'"   class="btn btn-primary" style= "margin-top: 15px;background-color: #5d3d85; border-color: #5d3d85; margin-left: 20px; width: 120px;" >Reservar</button>
</div>
